.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
   
}

.navigationContainer {
    border-right: 2px solid #6a6969;
    width: 15vw;
    padding: 8px 16px;
    position: fixed;
    height: 100vh;
}

.nonCollapsedNavigationContainer{
    overflow-y: auto;
}

.collapsedNavigationContainer {
    width: 5vw;
}

.collapseIcon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
 margin-bottom: 8px;
}

.menuItem {
    margin-bottom: 16px;
}

.subMenuList{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 4px;
}

.subMenuItem {
   text-decoration: none;
   color: black;
}

.subMenuItem:hover{
    text-decoration: underline;
}

.sectionContainer{
    margin-left: 15vw;
    padding: 16px;
    width: 100%;
}

.sectionContainerCollapsed{
    margin-left: 5vw;
}